body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: #66CCFF;
    color: #3399FF;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 0;
    margin: 0;
    height:100%;
}
#wrapper {
	height:100%;
	position:relative;
}

#wrapper #header {
    color: white;
}
#footer {
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
    left:0;
    background-color:white;
}
#main {
    padding-bottom:50px;   /* Height of the footer element */
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffe7a9;
    border-radius: 0 0 5px 5px;
    overflow: auto;
}

h1:before {
    background-image: url('images/wecslogo_circle.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding: 50px;
    margin: 20px;
    content: " ";
}

h1 {
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}

h3 {
    white-space: pre;
    white-space: post;
    display: block;
    float: left;
    width: 100%;
    padding: 1%;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-left: none;
    border-right: none;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #3399FF;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: #696969;
} 

#nav {
    width: "200%"
}

p#mission_statement {
    background-color: white;
    padding: 20px;
    font-style: italic;
    font-size: 20px;
    max-width: 40%;
}

p.bold {
    font-weight:bold;
}

#person {
    width:20%;
    float: left;
    padding: 2.5%
}

img {
    width:100%;
    height:100%;
	display:block;
	margin:auto;
}

#event {
    width:20%;
    padding: 2.5%;
    float: left;
    height: 300px;
}

#name, #role {
    text-align: center;
}

#role {
	font-weight: bold;
}

table#speakers_table {
    padding: 1%;
}
th, td {
    padding: 1%;
}
